<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IAcademico" />
                <binding name="BasicHttpBinding_IITutoriaAcademicaMgt" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59612/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReferenceTutorias.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:59612/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAcademico" contract="ServiceReferenceTutorias.IAcademico"
                name="BasicHttpBinding_IAcademico" />
            <endpoint address="http://localhost:59612/ITutoriaAcademicaMgt.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IITutoriaAcademicaMgt"
                contract="ServiceReferenceITutoriaAcademicaMgt.IITutoriaAcademicaMgt"
                name="BasicHttpBinding_IITutoriaAcademicaMgt" />
        </client>
    </system.serviceModel>
</configuration>